html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

#left {
  float: left;
  width: 40vw;
  height: 100%;
  background-image: url("./assets/cash-macanaya-VIZ2R40SSfA-unsplash.jpg");
  background-size: cover;
}

#right {
  float: right;
  width: 60vw;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

/* give the right-top class 2rem font size, 3rem margin */

.right-top {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 3rem;
}

/* give the form a white background, pad it above the background, give it a slight shadow. */

form {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  display: block;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

input {
  display: block;
  margin: 0 auto;
}

#big {
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 10vw;
}
